<h1>Student Form</h1>

<%= form_tag students_path do %>
  <p>
    <label>First name:</label><br>
    <%= text_field_tag :'student[first_name]' %>
  </p>

 <p>
  <label>Last name:</label><br>
  <%= text_field_tag :'student[last_name]' %>
 </p>

 <%= submit_tag "Submit Student" %>
<% end %>
